body{
width: 70%;
margin: auto;
margin-top: 30px;
line-height: 1.5em;
font-family: Georgia, Times New Roman, serif; /*First choice font, second, worst-case scenario*/
font-size: 15px;
background-color: #33194D;
}

h1{
font-size: 25px;
color: #a125f4;
}

img {
	margin-top: 20px;
	width:100%;
}
.photoCredit {
	font-size: 11px;
	color: #666;
	text-align: right;
	margin-top: 0px;
}

#wrapper{
width: 600px;
margin: 0 auto; /*First value: change to top and bottom, Second: change to left and right.*/
background-color: #ffffff;
padding: 20px; /*Note that padding increases PAST width*/
}

.imgleft{
float: left;
margin-right: 10px;
}